<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
           <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
     <link rel="stylesheet" href="/css/indexcss.css">
           
            <style>
     body{
    
   background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(/images/bg18.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
      @media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{   }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}


      .navbar{
           background-color: rgba(0,0,0,0.3);
       }
       .btn btn-primary,.btn-block{
            box-shadow: 10px 10px 5px rgb(14, 3, 3);
        }
     </style>
</head>
<body>

<nav class="navbar navbar-expand-md bg-light navbar-dark fixed-top scrolled  ">
		<div class="container">
        	<a >
           <h3 >E-Art HERITAGE<h3>
		
             </a>
		
             
             
             <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsenavbar">
             <span class="navbar-toggler-icon">  </span>
             </button>
             <div class="collapse navbar-collapse navhover text-center" id="collapsenavbar">
               <ul class="navbar-nav  ml-auto">
             <li class="nav-item navb"> <a th:href="@{/}" href="#" class="nav-link text-dark"> Home </a> </li>
             <li class="nav-item navb "> <a th:href="@{/shop}" href="#" class="nav-link text-dark"> Shop </a> </li>
             
             <li class="nav-item navb"> <a sec:authorize="isAnonymous()" th:href="@{/register}" href="#" class="nav-link text-dark"> Sign_up </a> </li>
            
             </ul>
             
             <div>
             
             
        </div>
	</nav>
<div class="container text-light" style="margin-top: 5%">
    <div class="row">
        <div class="col-sm-6">
            <h2>Login</h2>
            <p>Please fill out this to login</p>
            <form th:action="@{/login}" method="post">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" placeholder="Your Email" class="form-control form-control-lg">
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control form-control-lg" placeholder="Password" name="password" id="password">
                </div>
                <div th:if="${param.error}" class="alert alert-error text-danger">
                    Invalid username or password.
                </div>

                <input type="submit" value="Login" class="btn btn-primary btn-block">
                <br>
                <span >Don't have an account <a class="linkControl" href="./register.html"
                                                th:href="@{/register}">Register here</a></span>
                                                
                                        
                <br>
                
                <br>
                
                <br>
                <a class="linkControl" href="./forgot_email_form.html"
                                                th:href="@{/forgot_email_form}">Forgot password ?</a>
            </form>
            <br>
            <h3>OR</h3>
            <a href="/oauth2/authorization/google" class="btn btn-primary">Sign-In with google </a>

        </div>

    </div>
</div>

<!--<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>-->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>