<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
           <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<link rel="stylesheet" href="/css/indexcss.css">
           
            <style>
     body{
    
   background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(/images/bg.jpeg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
      @media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{   }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}


      .navbar{
           background-color: rgba(0,0,0,0.3);
       }
       .btn btn-primary,.btn-block{
            box-shadow: 10px 10px 5px rgb(14, 3, 3);
        }
     </style>
</head>
<body class="">


<nav class="navbar navbar-expand-md bg-light navbar-dark fixed-top scrolled  ">
		<div class="container">
        	<a >
           <h3 >E-Art HERITAGE<h3>
		
             </a>
		
             
             
             <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsenavbar">
             <span class="navbar-toggler-icon">  </span>
             </button>
             <div class="collapse navbar-collapse navhover text-center " id="collapsenavbar">
             <ul class="navbar-nav  ml-auto">
             <li class="nav-item navb"> <a th:href="@{/}" href="#" class="nav-link text-dark"> Home </a> </li>
             <li class="nav-item navb "> <a th:href="@{/shop}" href="#" class="nav-link text-dark"> Shop </a> </li>
             <li class="nav-item navb"> <a sec:authorize="isAnonymous()" th:href="@{/login}" href="#" class="nav-link text-dark "> Login </a> </li>
             
             <li class="nav-item navb"> <a sec:authorize="isAnonymous()" th:href="@{/register}" href="#" class="nav-link text-dark"> Sign_up </a> </li>
            
             </ul>
             
             <div>
             
             
        </div>
	</nav>

<div class="container text-light" style="margin-top: 100px" >
    <div class="col-sm-6">
        <h3 style="margin-top: 10px">Sign Up Now</h3>
        <p>Please fill out this to register</p>
        <form th:action="@{/register}" th:object="${user}" onsubmit="return validateForm()" method="post">
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" name="firstName" id="firstName"  placeholder="Your Firstname" class="form-control form-control-lg">
            </div>
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" name="lastName" id="lastName"  placeholder="Your Lastname" class="form-control form-control-lg">
            </div>
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="text" class="form-control form-control-lg"   placeholder="Email" name="email" id="email"
                       >
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with
                    anyone else.</small>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control form-control-lg"  placeholder="Password" name="password"
                       id="password">
            </div>


<div class="form-group">
                <label for="role">Role</label><br>
               

						<br><select name="role" id="role">
					  <option value="3">Vendor</option>
					  <option value="2">Customer</option>
					
</select>
            </div>


            <input type="submit" value="Register" class="btn btn-primary btn-block">
            <span style="margin-top: 10px">Already have an account <a class="linkControl text-light" href="./login.html"
                                                                      th:href="@{/login}">Login here</a></span>
        </form>
    </div>
</div>


<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<script type="text/javascript">
	function validateForm() {
		var firstname = document.getElementById("firstName");
		var lastname = document.getElementById("lastName");email
		var Email = document.getElementById("email");
		var Password = document.getElementById("password");
		
		var n =  /^[a-zA-Z]+$/;
		const re = /\S+@\S+\.\S+/;
		const ps = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}$/;


		if (firstname.value.trim() == "" ) {
			alert("Cannot leave any field Empty");
			return false;
			 }else if (firstname.value.length>=3 && (n.test(firstname.value) == true)  ) {
			true;
	
			} else {
			alert("The FirstName must be greater than 3 and must be alpha only");
			return false;
			
			}
		if (lastname.value.trim() == "" ) {
			alert("Cannot leave any field Empty");
			return false;
			 }else if (lastname.value.length>=2 && (n.test(lastname.value) == true)  ) {
			true;
	
		} else {
			alert("The Lastname must be greater than 3 and must be alpha only");
			return false;
			
		}
		
		if (Email.value.trim() == "" ) {
			alert("Cannot leave any field Empty");
			return false;
			 }else if (re.test(Email.value) == true ) {
			true;
	
			} else {
			alert("Pleasse enter valid email address e.g.akshay@gmail.com");
			return false;
			
			}
			if (Password.value.trim() == "" ) {
			alert("Cannot leave any field Empty");
			return false;
			 }else if (ps.test(Password.value) == true ){
				true;
	
			} else {
			alert("Password min length 6 char e.g.Akshay@1 ");
			return false;
			
			}
		}
	
</script>

      }
}
</script>
</body>
</html>